language: node_js

node_js:
  - 10
  - 12

notifications:
  email:
    - lilleman@larvit.se

before_script:
  - psql -c 'create database test;' -U postgres

script: npm run test

after_script: "cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js"

services:
  - postgresql